<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcu.redmonj9.whichprep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="WhichPrep"
        android:theme="@style/MyCustomTheme" >
        <activity android:name="com.dcu.redmonj9.whichprep.activities.FrontMenuActivity">
        </activity>
        <activity android:name="com.dcu.redmonj9.whichprep.activities.QuizActivity">
        </activity>
        <activity android:name="com.dcu.redmonj9.whichprep.activities.QuizResultsActivity">
        </activity>
        <activity android:name="com.dcu.redmonj9.whichprep.activities.CasualQuizActivity" >
        </activity>
        <activity android:name="com.dcu.redmonj9.whichprep.activities.TimedQuizActivity" >
        </activity>
        <activity android:name="com.dcu.redmonj9.whichprep.activities.StatisticsActivity">
        </activity>
        <activity
            android:name="com.dcu.redmonj9.whichprep.activities.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
