<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcu.redmonj9.whichprep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="WhichPrep"
        android:theme="@style/MyCustomTheme" >
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1589013854681352"
          android:name="com.facebook.FacebookContentProvider"
          android:exported="true"/>
        
        <activity android:name=".activities.FrontMenuActivity" >
        </activity>
        <activity android:name=".activities.QuizActivity" >
        </activity>
        <activity android:name=".activities.QuizResultsActivity" >
        </activity>
        <activity android:name=".activities.CasualQuizActivity" >
        </activity>
        <activity android:name=".activities.TimedQuizActivity" >
        </activity>
        <activity android:name=".activities.StatisticsActivity" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
          android:configChanges=
                 "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:label="@string/app_name" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
